<div class="shiftIncome">
    <div class="date"></div>
    <div class="shiftIncome__dailyIncome">
    <div>
        <span>סה"כ טיפים</span>
        <span class="shiftIncome__dailyIncome__value">{{350 | currency: "ILS" :'symbol' :'3.1'}}</span>
    </div>
    <div>
        <span>ממוצע לשעה</span>
        <span class="shiftIncome__dailyIncome__value">{{57.6 | currency: "ILS" :'symbol' :'2.1'}}</span>
    </div>
    <div>
        <span>סה"כ שעות</span>
        <span class="shiftIncome__dailyIncome__value">6</span>
    </div>
</div>
</div>