<div class="container">
    <app-nav></app-nav>
    <section class="login">   
        <h1 class="login__heading">התחבר</h1>
        <form class="login__form" >
            <input class="login__form__input" type="text" name="resturant name" placeholder="שם מסעדה">
            <hr class="splitLine">
            <input class="login__form__input" type="text" name="userName" placeholder="שם משתמש">
            <hr class="splitLine">
            <input class="login__form__input" type="password" name="password" placeholder="סיסמא">
            <hr class="splitLine">
            <button class="login__form__submit-btn">התחבר</button>
        </form>
    </section>
</div>