<app-nav></app-nav>
<div class="register">
    <form class="register__userForm">
        <input type="text" placeholder="שם מסעדה">
        <hr class="splitLine">
        <input type="text" name="" placeholder="שם משתמש">
        <hr class="splitLine">
        <input class="register__userForm__password" type="password" name="" placeholder="סיסמא">
        <hr class="splitLine">
        <input class="register__userForm__password" type="password" name="" placeholder="אמת סיסמא">
        <hr class="splitLine">
    </form>
</div>