.nav{
    font-size: 1.7rem;
    font-weight: 600;
    padding-top: 2.5rem;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between
}

img{
    height: 3rem;
    width: 3rem;
}