.header{
    height: 15rem;
    background-color:rgba(255, 255, 255, 0.1);
    
    &__btns{
        display: flex;
        justify-content: space-between;
        padding-top: 3rem;
        width: 90%;
        margin: auto;
    }
}

.btn{
    letter-spacing: 0.1rem;
    font-size: 1.8rem;
    border-radius: 3rem;
    width: 16rem;
    height: 4rem;
    color: white;
    font-weight: 600;
    border-style: none;
    box-shadow: 2px 2px 0 0 gray;

    &--tipCalculator{
        background-color: #dc7665;
    }

    &--moneyCounter{
        background-color: #7d71dd;
    }
}